html, body {
  background: #424C50;
}
a{
  color: #F5F7F5;
}
a:hover{
  color: #F5F7F5;
}
.card{
  background-color: #F5F7F5;
  margin-top: 20px;
  border-color: #424C50;
}
.btn-primary{
  background-color: #777675;
  border-color: #777675;
  color: #F5F7F5;
}
.btn-primary:hover{
  background-color: #ABAAA9;
  border-color: #ABAAA9;
}
.btn-primary:focus{
  box-shadow: 0 0 0 0.2rem #424C50;
}
.form-control:focus {
  color: #777675;
  background-color: #F5F7F5;
  border-color: #777675;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #777675;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
  color: #F5F7F5;
  background-color: #ABAAA9;
  border-color: #ABAAA9;
}
.card-img {
  position: relative;
}
.card-body {
  position: absolute;
  color: #F5F7F5;
  bottom: 0;
  left: 0;
  background-color: black;
  width: 100%;
  display: none;
  //transition-delay: .1s;
}
.card-img:hover {
  .card-body {
    display: block;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%,  rgba(0,0,0,0) 100%);
  }
}


.spinner-border{
  color: #F5F7F5;
}
.sticky-footer{
  color: #F5F7F5;
}